<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53BD68F51C2B984E00DB34B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BD690E1C2B984F00DB34B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BD69191C2B984F00DB34B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
